@charset "utf-8";

.main {
	height: 500px;
	width: 100%;
	background: url(../images/beijing.png);
}
.main-1{
	width: 100%;
	min-width: 1060px;
	height: 500px;
	margin:0;
}
.wrap2 {
	width: 1060px;
	height: 500px;
	margin-left:190px;
	position: relative;
	margin-left:190px;
}

.wrap2 .nav-l {
	width: 200px;
	height: 500px;
	left: 0;
	position: absolute;
	background-color: #3b392a;
}

.wrap2 .nav-r {
	width: 200px;
	height: 470px;
	right: 0;
	position: absolute;
	background-color: #ffffff;
	margin: 15px 0;
}

.wrap2 .nav-l{
	margin: 0 auto;
}

.wrap2 .nav-l .title-all{
	width: 150px;
	height: 57px;
	margin: 0 auto;
	padding-bottom: 10px;
	border-bottom: dashed 1px #fff;
}
.wrap2 .nav-l .title-all ul li {
	display: inline;
	
}
.wrap2 .nav-l .title-all a {
	text-decoration: none;
	list-style-type: none;
	font-size: 12px;
	color: #939393;
	line-height: 20px;
	display: inline-block;
	text-align: center;
}

.wrap2 .nav-l .title-all .title {
	color::#3b392a;
	font-size: 14px;
	text-align: center;
	text-indent: -25px;
}

.wrap2 .nav-l .little-picture1{
	background: url(../images/menu01.png) no-repeat left;
}
.wrap2 .nav-l .title-all .little-picture2{
	background: url(../images/menu02.png) no-repeat left;
}
.wrap2 .nav-l .title-all .little-picture3{
	background: url(../images/menu03.png) no-repeat left;
}
.wrap2 .nav-l .title-all .little-picture4{
	background: url(../images/menu04.png) no-repeat left;
}
.wrap2 .nav-l .title-all .little-picture5{
	background: url(../images/menu05.png) no-repeat left;
}
.wrap2 .nav-l .title-all .little-picture6{
	background: url(../images/menu06.png) no-repeat left;
}
.wrap2 .nav-l .title-all .little-picture7{
	background: url(../images/menu07.png) no-repeat left;
}
.wrap2 .nav-l .title-all a:hover {
	color: red;
}

.nav-r .nav-r-m span a:hover{
	color: red;
}

.wrap2 .nav-center {
	width: 180px;
	height: 30px;
	position: absolute;
	left: 450px;
	bottom: 20px;
}

.wrap2 .nav-center ul li{
	display: inline-block;
	text-align: center;
}
.wrap2 .nav-center ul button {
	/*background-color: red;*/
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 15px;
	outline-style: none;
	border: none;
	border: 2px solid RGB(178,161,57);
	background-color:RGB(178,161,57);
}
.wrap2 .nav-center .first {
	background-color:RGB(255,238,134);
}

.wrap2 .nav-center button:hover {
	background-color:#ffe751;
}
.wrap2 .nav-r h2 {
	width: 90px;
	height: 16px;
	font-size: 16px;
	margin-right: 50px;
	display: inline-block;
	text-indent: 20px;
}

.wrap2 .nav-r a {
	font-size: 12px;
	width: 60px;
	height: 12px;
	top: 0;
	right: 0px;
	
}
.wrap2 .n-top {
	border: 1px dashed #dadada;
	padding: 15px 0;
	margin-bottom: 10px;
}

.wrap2 .nav-r .nav-r-m {
	width: 180px;
	height: 100px;
	padding: 0px 10px;
}

.wrap2 .nav-r .nav-r-m a {
	text-decoration: none;
	font-size: 12px;
	color: #939393;
	width: 180px;
	display: inline-block;
}

.wrap2 .nav-r .nav-r-1 {
	width: 160px;
	height: 125px;
	margin: 20px auto;
	background: url(../images/header-2.png);
}

.wrap2 .nav-r .nav-r-2 {
	width: 160px;
	height: 125px;
	margin: 20px auto;
	background: url(../images/header-3.png);
}

 .wrap3 {
	width: 1060px;
	height: 430px;
	margin-left:190px;
	position: relative;
	background-color:#fff ;
	margin-top: 20px;
	display: table;

}

.wrap3-1 {
	width: 100%;
	min-width: 1060px;
	height: 480px;
	margin:0;
	margin: 0;
	background-color: #fff;
}

.wrap3 .w-header {
	width: 100%;
	height: 60px;
	background-color: green;

}
 
.wrap3 .w-header .w-l {
	width: 530px;
	height: 60px;
	background-color: #318e00;
	display: inline-block;
	vertical-align: center;
}
.wrap3 .w-header .w-l .w-l-1 {
	width: 60px;
	height: 40px;
	display: inline;
	float: left;
}
.wrap3 .w-header .w-l h2 {
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	width: 80px;
	/*display: inline-block;*/
	text-indent: 15px;
}

.wrap3 .w-header .w-l p{
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
	width: 80px;
	display: inline-block;
	text-indent: 15px;
	/*float: left;*/
}

.wrap3 .w-header .w-l span {
	/*float: right;*/
	display: inline-block;
	font-size: 14px;
	color: #fff;
	line-height: 60px;
	text-indent: 10px;
	float: right;
	width: 270px;
}

.wrap3 .w-header .w-l i {
	width: 50px;
	height: 50px;
	border-radius: 15px; 
	display: inline;
	background-color: #fff;
	vertical-align: middle;
	line-height: 40px;
	/*text-align: center;*/
	color: green;
	font-size: 25px;
	margin: 0 5px;
}

.wrap3 .w-header .w-r {
	width: 530px;
	height: 60px;
	background-color: #d1d1d1;
	display: inline-block;
	float: right;
}

.wrap3 .w-header .w-r h2 {
	font-size: 20px;
	color: #919191;
	text-align: center;
}

.wrap3 .w-header .w-r p {
	font-size: 16px;
	color: #919191;
	text-align: center;
}

.wrap3 figure{
	border:1px solid #ddd;
	display: table;
	float: left;
	margin: 0;
	width: 210px;
	height: 350px;
	position: relative;

}

.wrap3 figure img {
	vertical-align: middle;
	width: 210px;
	margin-top: 45px;
}

.wrap3 figcaption {
	color: #77757d;
	font-size: 14px;
	text-align: left;
	line-height: 1.5em;
	
	text-align: center;
}

.wrap3 .fruit {
	font-size: 10px;
	color: #666;
	margin:10px 0;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
}

.wrap3 figcaption p {
	margin-left: 10px;
	width: 30px;
	height: 15px;
	margin-bottom: 10px;
}

.wrap3 .time{
	color: #ef0000;
	font-size: 14px;
	float: left;
	text-indent: 10px;
}


.wrap3  small {
	font-size: 16px;
	text-decoration: line-through;
	color: #77757d;
	
}

.wrap3  .over{
	font-size: 12px;
	display: inline-block;
	color: #77757d;
	text-indent: 20px;
	margin: 10px;
}

.wrap3 i {
	color: #ef0000;
	font-weight:bold;
}
.wrap3 .hover:hover button{
	background-color:#ff5151;
}

.wrap3 .hover:hover {
	border-color: #ff5151;
}

.wrap3 .mengban {
	background-color: #000;
	opacity: 0.5;
	top: 60px;
	right: 0;
	width: 211px;
	height: 350px;
	display: inline-block;
	position: absolute;
}
.wrap3 .session {
	position: absolute;
	top: 150px;
	right: 50px;
	width: 90px;
	height: 32px;
	background-color:#000;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.wrap4 {
	width: 100%;
	min-width: 1060px;
	height: 435px;
	background-color:#ffeea0;
	margin-top: 10px;
	margin: 0;
	position: relative;
}

.wrap4 figure img {
	vertical-align: middle;
	width: 250px;
	height: 180px;
	margin-top:0px;
	/*  vertical-align: middle;  垂直对齐，消除间隔*/
}
.wrap4 .main-second-nav{
	width: 1060px;
	margin-left:190px;
}
.wrap4 .header{
	padding: 20px 0 0 0;
	height: 45px;
	width: 1060px;
	margin: 0 auto;
}

.wrap4 .header h2 {
	height: 25px;
	width: 100px;
	font-size: 22px;
	color: #000;
	display: inline-block;
	color: #1f1f1f;
}
.wrap4 .header p {
	height: 20px;
	width: 250px;
	margin-left: 20px;
	display: inline-block;
	color: #1f1f1f;
	font-size: 12px;
}

.wrap4 span {
	width: 250px;
	height: 20px;
	margin: 15px  0 0px 0;
	display: inline-block;
	text-indent: 10px;
}

.wrap4 p {
	width: 250px;
	height: 20px;
	margin: 5px  0 0px 0;
	display: inline-block;
	text-indent: 10px;
}

.wrap4 strong {
	width: 300px;
	height: 30px;
	text-indent: 10px;
	font-size: 16px;
	margin-top: 10px;
	display: block;
	font-weight: bold;
}
.wrap4 small {
	font-size: 16px;
	color: #ff6012;
	text-indent: 10px;
	color: #ff0000；
	font-size:20px;
	width: 150px;
	height: 20px;
	display: block;
}

.wrap4 .main-second-nav figure{
	width: 250px;
	height: 365px;
	position: relative;
	display: inline-block;
	margin-right:16px; 
}
#last{
	margin-right: 0;
}
.wrap4 figcaption {
	width: 250px;
	height: 184px;
	background-color: #ffcc5e;
}


#button {
	width: 120px;
	height: 30px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-size: 16px;
	background-color: #ff9834;
	border: 1px solid #fff;
}

.wrap4 #button:hover {
	background-color: #ff4f12;
}

.wrap4 .mengban {
	background-color: #000;
	opacity: 0.5;
	top: 0px;
	right: 0;
	width: 250px;
	height: 365px;
	display: inline-block;
	position: absolute;
}
.wrap4 .session {
	position: absolute;
	top: 120px;
	right: 70px;
	width: 90px;
	height: 32px;
	background-color:#000;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.wrap5 .fruit{
	width: 1060px;
	width: 130px;
	background-color: #fff;
	margin: 10px 0 10px 190px;
}

.wrap6 {
	width: 1060px;
	height: 450px;
	margin-left: 190px;
	
}

.wrap6-1 {
	width: 100%;
	min-width: 1060px;
	height: 500px;
	background-color:#fff;
	margin-top: 10px;
	margin: 0;
	position: relative;
}

.wrap6 .header {
	width: 1060px;
	height: 40px;
}

.wrap6 .header1 {
	border-bottom: 2px solid #ff7247;
}

.wrap6 .header2 {
	border-bottom: 2px solid #6bab67;
}

.wrap6 .header3 {
	border-bottom: 2px solid #f56eb2;
}

.wrap6 .header4 {
	border-bottom: 2px solid #3f9df2;
}

.wrap6 .header5 {
	border-bottom: 2px solid #ffb32f;
}

.wrap6 .header6 {
	border-bottom: 2px solid #ffd119;
}

.wrap6 .header7 {
	border-bottom: 2px solid #a6ce00;
}

.wrap6 .header .header-l {
	display: inline-block;
}

.wrap6 .header .header-l h2 {
	height: 45px;
	width: 120px;
	font-size: 22px;
	color: #000;
	display: inline-block;
	color: #1f1f1f;
	text-indent: 30px;
}
.wrap6 .header .header-l .tu1 {
	background: url(../images/menu01-1.png) no-repeat left;
}

.wrap6 .header .header-l .tu2 {
	background: url(../images/menu02-1.png) no-repeat left;
}

.wrap6 .header .header-l .tu3 {
	background: url(../images/menu03-1.png) no-repeat left;
}

.wrap6 .header .header-l .tu4 {
	background: url(../images/menu04-1.png) no-repeat left;
}

.wrap6 .header .header-l .tu5 {
	background: url(../images/menu05-1.png) no-repeat left;
}

.wrap6 .header .header-l .tu6 {
	background: url(../images/menu06-1.png) no-repeat left;
}

.wrap6 .header .header-l .tu7 {
	background: url(../images/menu07-1.png) no-repeat left;
}
.wrap6 .header .header-l p {
	height: 20px;
	width: 250px;
	margin-left: 20px;
	display: inline-block;
	color: #1f1f1f;
	font-size: 12px;
}

.wrap6 .header .header-r {
	float: right;
	display: inline-block;
	width: 500px;
}

.wrap6 .header .header-r ul {
	height: 36px;
	float: left;
}
.wrap6 .header .header-r ul li {
	height: 36px;
	width: 83px;
	line-height: 36px;
	font-size: 15px;
	text-align: center;
	float: left;
}


.wrap6 .header .header-r ul li a {
	text-decoration: none;
	list-style-type: none;
	text-decoration: none;
	color: #818080;
}
.wrap6 .type2:hover,
.wrap6 .type3:hover,
.wrap6 .type4:hover{
	border-color: red;
	cursor: pointer;
	position: relative;
}
.wrap6 .half {
	background-color: #ffb29a;
	width: 260px;
	height: 450px;
	display: inline-block;
	float: left;
	overflow: none;
}
.wrap6 .bgc-color1 {
	background-color: #99ce96;
}

.wrap6 .bgc-color2 {
	background-color: #efb1d0;
}

.wrap6 .bgc-color3 {
	background-color: #a0cbf2;
}

.wrap6 .bgc-color4 {
	background-color: #edc379;
}

.wrap6 .bgc-color5 {
	background-color: #fff771;
}

.wrap6 .bgc-color6 {
	background-color: #d9ee83;
}

.wrap6 .half strong {
	height: 40px;
	width: 260px;
	font-size: 40px;
	color: #fff;
	display: inline-block;
	text-align: center;
}

.wrap6 .half p {
	height: 20px;
	width: 220px;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	text-indent: 30px;
	margin: 10px;
}

.wrap6 .half span {
	height: 40px;
	width: 260px;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	text-indent: 35px;
}

.wrap6 .half i {
	font-size: 30px;
	color:#f89485;
	height: 40px; 
	margin-bottom: 10px; 
}

.wrap6 .half .aside img {
	width: 260px;
	height: 260px;
}

.wrap6 .half .button {
	width: 100px;
	height: 40px;
	border:1px solid #fff;
	background-color: #fff;
	border-radius: 20px;
	line-height: 40px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 20PX;
	color: #ee7377;
	text-align: center;
	font-weight: bold;
}

.wrap6 .type1{
	width: 399px;
	height: 223px;
	background-color:#fceef0;
	display: inline;
	float: left;
	position: relative;
	border: 1px solid #d6d6d6;
	margin-left: -1px;
}

.wrap6 .type1 figcaption {
	display: inline-block;
	width: 200px;
	height: 100px;
	position: absolute;
	top: 20px;
	left: 5px;
}
.wrap6 .type1 h2{
	font-size: 25px;
	line-height: 25px;
	margin-left: 20px;
	color: #7f383a;
	display: inline;
}

.wrap6 .type1 p{
font-size: 12px;
color: #a6a0a2;
margin-left: 20px;
margin-top: 5px;
}

.wrap6 .type1 span{
font-size: 22px;
color: #a6a0a2;
margin-left: 20px;
}

.wrap6 .type1 i{
	color: #ff0008;
}

.wrap6 .type1 img {
	width: 400px;
	height: 224px;
	float: right;
	display: inline;
	background-color:#fceef0;
}

.wrap6 .type2 {
	width: 198px;
	height: 225px;
	border: 1px solid #d6d6d6;
	float: left;
	margin-bottom: -1px;
	margin-left: -1px;
}

.wrap6 .type2 figcaption {
	width: 200px;
	height: 70px;
}

.wrap6 .type2 figcaption h2{
	font-size: 12px;
	text-align: center;
	color: #696969;
	font-weight: bold;
	margin-bottom: 10px;
}


.wrap6 .type2  span{
	font-size: 14px;
	margin-left: 20px;
}

.wrap6 .type2  i{
	color: #ff0000;
	font-weight:bold;
	margin-right: 40px;

}

.wrap6 .type2  b {
	text-indent: 100px;
}
.wrap6 .type2 figcaption p {
	
	width: 180px;
	margin-bottom: 10px;
	text-indent: 20px;
}


.wrap6 .type2 figcaption img{
	font-size: 12px;
	text-align: center;
	color: #696969;
	font-weight: bold;
	display: inline-block;
}

.wrap6 .type3 {
	width: 199px;
	height: 222px;
	border: 1px solid #d6d6d6;
	float: left;
	margin-bottom: -1px;
	margin-left: -1px;
}

.wrap6 .type3 figcaption {
	width: 200px;
	height: 70px;
}

.wrap6 .type3 figcaption h2{
	font-size: 12px;
	text-align: center;
	color: #696969;
	font-weight: bold;
	margin-bottom: 10px;
}


.wrap6 .type3  span{
	font-size: 14px;
	margin-left: 20px;
}

.wrap6 .type3  i{
	color: #ff0000;
	font-weight:bold;
	margin-right: 40px;
	
}

.wrap6 .type3  b {
	text-indent: 100px;
}
.wrap6 .type3 figcaption p {
	
	width: 180px;
	margin-bottom: 10px;
	text-indent: 20px;
}


.wrap6 .type3 figcaption img{
	font-size: 12px;
	text-align: center;
	color: #696969;
	font-weight: bold;
	display: inline-block;
}


.wrap6 .type4 {
	width: 198px;
	height: 222px;
	border: 1px solid #d6d6d6;
	float: left;
	margin-bottom: -1px;
	margin-left: -1px;
}

.wrap6 .type4 figcaption {
	width: 200px;
	height: 70px;
}

.wrap6 .type4 figcaption h2{
	font-size: 12px;
	text-align: center;
	color: #696969;
	font-weight: bold;
	margin-bottom: 10px;
}


.wrap6 .type4  span{
	font-size: 14px;
	margin-left: 20px;
}

.wrap6 .type4  i{
	color: #ff0000;
	font-weight:bold;
	margin-right: 40px;
	
}

.wrap6 .type4  b {
	text-indent: 100px;
}
.wrap6 .type4 figcaption p {
	
	width: 180px;
	margin-bottom: 10px;
	text-indent: 20px;
}


.wrap6 .type4 figcaption img{
	font-size: 12px;
	text-align: center;
	color: #696969;
	font-weight: bold;
	display: inline-block;
}


